[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[color]
	ui = auto
	status = auto
	branch = auto
	diff = auto
[credential]
	helper = osxkeychain
[user]
	name = Mansour J. Mansour
{{- if .isWorkComputer}}
[includeIf "gitdir:~/Developer/oss/"]
	path = ~/.gitconfig_oss
[includeIf "gitdir:~/Developer/nordnet/"]
	path = ~/.gitconfig_nordnet
{{- else }}
[include]
	path = ~/.gitconfig_oss
{{- end }}
[hub]
	protocol = ssh
[alias]
	undo = reset --mixed HEAD^
