[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	side-by-side = true
	navigate = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[push]
	default = simple
	followTags = true
	autoSetupRemote = true
[user]
	name = Mansour J. Mansour
	email = mansour@mjmonline.se
{{- if .isWorkComputer}}
	signingkey = {{ onepasswordRead "op://Nordnet/SSH Key Mac/public key" }}
[includeIf "gitdir:~/Developer/nordnet/"]
	path = ~/.gitconfig_nordnet
{{- end }}
[alias]
	undo = reset --mixed HEAD^
{{- if .isWorkComputer}}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
{{- end }}
